.Home {
  display: flex;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;

  .scroll-down-div {
    z-index: 100;
    position: absolute;
    bottom: 50px;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 20px;
    width: 20px;

    svg {
      stroke-width: 3px;
      color: #6b81bc;
    }
  
  }

  .no-scroll {
    overflow: hidden;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    h1 {
      color: white;
      text-align: center;
      font-size: 7vw;
      font-family: "SaoTorpes";
      line-height: 0.8;
      letter-spacing: 5px;
      margin-block: 0;

      @media (max-width: 768px) {
        font-size: 10vw;
      }
    }

    h2 {
      color: #bdcfff;
      text-align: center;
      font-size: 0.8rem;
      font-family: "Soulcraft";
      letter-spacing: 5px;
      margin-block: 0;
      margin-top: 10px;

      @media (max-width: 768px) {
        font-size: 0.6rem;
        top: 55%;
      }
    }
  }

  .background {
    position: absolute;
    bottom: -50px;
    width: 100%;
    overflow: hidden;
    z-index: 3;

    @media screen and (max-width: 768px) {
      bottom: -20px;
    }

    img {
      object-fit: contain;
      width: 100%;

      @media screen and (max-width: 768px) {
        width: 180%;
      }
    }
  }

  .plane-container {
    position: absolute;
    width: 100%;

    .plane {
      position: absolute;
      pointer-events: none;
      z-index: 1;
    }

    .plane-trail {
      background: white;
      position: absolute;
      height: 2px;
    }
  }

  .plane-path {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
  }

  .scroll-cta {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #6b81bc;
    font-family: "Soulcraft";
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    width: 9%;

    svg {
      width: 20px;
      height: 20px;
      cursor: pointer;
      stroke-width: 3.5px;
    }
  }
}
