.PageOne {
  display: flex;
  height: 100vh;
  margin: 0;
  position: relative;
  margin-top: 50px;

  .background-2 {
    position: absolute;
    overflow: hidden;
    bottom: -2px;
    width: 100%;
    z-index: 1;

    svg {
      width: 100%;
      height: auto;
      bottom: 3px;
      position: absolute;
    }

    img {
      width: 100%;
    }
  }

  .pointers {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;

    .pointer {
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      background-color: #e6ecff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 2;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: #99afee;
        svg {
          color: #dadada;
          margin: auto;
        }
      }

      svg {
        width: 70%;
        height: auto;
        color: #6a6a6a;
        transition: all 0.2s ease-in-out;
        margin: auto;
      }
    }
  }

  .tooltip {
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    width: fit-content;
    height: fit-content;
    font-family: "Soulcraft";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 2.5rem;
      margin-block: 0;
      display: flex;
      align-items: center;

      p:last-child {
        filter: brightness(0.85);
      }
    }

    p {
      margin-block: 0;
    }

    .etablissement {
      font-size: 1rem;
      text-justify: center;
    }

    .type-formation {
      font-size: 1rem;
      filter: brightness(0.85);
    }
  }

  .personne {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 3;
    pointer-events: none;

    img {
      width: 100%;
      height: auto;
    }
  }
}
