.PageOne {
    display: flex;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;

    .background-2 {
        position: absolute;
        overflow: hidden;
        bottom: 0;
        width: 100%;


        img {
            width: 100%;
        }
    }
}