.Projet {
  z-index: 8;
  position: absolute;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;

  .header-image {
    height: fit-content;
    border-radius: 50px;
    width: 100%;
    position: absolute;
    top: -50vh;
  }

  .projet-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    margin-top: 20%;
    overflow-y: scroll;
    border-radius: 50px 50px 0px 0px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .projet-content-header {
      margin-top: 2em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-family: "Newake";
        font-size: 3.5em;
        margin: 0;
        text-transform: uppercase;
      }
    }

    .projet-content-techno {
      display: flex;
      justify-content: start;
      width: 100%;
      gap: 1em;

      span {
        font-family: "Soulcraft";
        font-size: 1.2em;
        color: white;
        padding: 0.5em 1em;
        border-radius: 10px;
        margin: 10px 0;
      }
    }

    .projet-content-description {
      font-family: "Satoshi";
      text-align: justify;
      font-size: 1.2em;
      line-height: 1.5em;
      margin-block: 0;
    }

    .projet-images-container {
      display: flex;
      flex-direction: column;
      margin-top: 1em;
      width: 100%;

      img {
        margin-top: 1em;
        width: 100%;
        border-radius: 10px;
      }
    }
  }

  .progress-circle {
    width: 3em;
    height: 3em;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%), conic-gradient(hotpink 75%, pink 0);
  }
}
