// Fonts

@font-face {
    font-family: 'SaoTorpes';
    src: url('../src/styles/fonts/SaoTorpes.otf')(format('opentype'));
}

@font-face {
    font-family: 'Lemon';
    src: url('../src/styles/fonts/Lemon-Regular.ttf')(format('truetype'));
}

@font-face {
    font-family: 'Thunder';
    src: url('../src/styles/fonts/Thunder-VF.ttf')(format('truetype'));
}

@font-face {
    font-family: 'Bowlby';
    src: url('../src/styles/fonts/BowlbyOneSC-Regular.ttf')(format('truetype'));
}

// Styles

::-webkit-scrollbar {
    display: none;
}

html {
    margin: none;
    width: 100%;

    body {
        overflow-x: hidden;
        margin: 0;
    }

    .App {
        position: relative;
    }

    .Home,
    .PageOne {
        height: 100vh;
    }

    .page-transition {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 10;
        overflow: hidden;

        &__red,
        &__black {
            position: absolute;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
        }

        &__red {
            background: red;
        }

        &__black {
            background: #000;
        }
    }

    .transition__logo {
        text-transform: uppercase;
        font-family: sans-serif;
        font-size: 60px;
        position: absolute;
        z-index: 1;
        color: #fff;
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}